@model IEnumerable<XML.Models.TRANDAU>
@{
    ViewBag.Title = "Danh sách Huấn Luyện Viên_câu lạc bộ";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    var grid = new WebGrid(Model, canPage: true, defaultSort: "MATRAN", rowsPerPage: 5);
}
<main id="main" class="main">

    <div class="pagetitle">
        <h1>Danh sách Huấn luyện viên_câu lạc bộ</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href=#>Home</a></li>
                <li class="breadcrumb-item">Trận Đấu</li>
                <li class="breadcrumb-item active">Dữ liệu</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">

                        @Html.ActionLink("Thêm", "Create", "TranDau")

                        <table class="table datatable">
                            <thead>
                                <tr>
                                    <th>Mã Trận</th>
                                    <th>Mùa Giải</th>
                                    <th>Ngày Thi Đấu</th>
                                    <th>Vòng</th>
                                    <th>Câu Lạc Bộ 1</th>
                                    <th>Câu Lạc Bộ 2</th>
                                    <th>Sân</th>
                                    <th>Kết Quả</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @item.MATRAN
                                        </td>
                                        <td>
                                            @item.NAM
                                        </td>
                                        <td>
                                            @item.NGAYTD
                                        </td>
                                        <td>
                                            @item.VONG
                                        </td>
                                        <td>
                                            @item.MACLB1
                                        </td>
                                        <td>
                                            @item.MACLB2
                                        </td>
                                        <td>
                                            @item.MASAN
                                        </td>
                                        <td>
                                            @item.KETQUA
                                        </td>
                                        <td>
                                            @Html.ActionLink("Chi tiết", "Details", "TranDau", new { id = item.MATRAN }, "") |
                                            @Html.ActionLink("Sửa", "Edit", "TranDau", new { id = item.MATRAN }, "") |
                                            @Html.ActionLink("Xóa", "Delete", "TranDau", new { id = item.MATRAN }, "")
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </section>

</main>
